{% extends 'base.html.twig' %}

{% block title %}ExamenPrix{% endblock %}

{% block body %}
    <h1>ExamenPrix</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examen_prix.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ examen_prix.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ examen_prix.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ examen_prix.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_examen_prix_index') }}">back to list</a>

    <a href="{{ path('app_examen_prix_edit', {'id': examen_prix.id}) }}">edit</a>

    {{ include('examen_prix/_delete_form.html.twig') }}
{% endblock %}
