{% extends 'base.html.twig' %}

{% block title %}Examens{% endblock %}

{% block body %}
    <h1>Examens</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ examen.id }}</td>
            </tr>
            <tr>
                <th>Cout</th>
                <td>{{ examen.cout }}</td>
            </tr>
            <tr>
                <th>Dateexamen</th>
                <td>{{ examen.dateexamen ? examen.dateexamen|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Preacquis</th>
                <td>{{ examen.preacquis }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ examen.description }}</td>
            </tr>
            <tr>
                <th>Resultat</th>
                <td>{{ examen.resultat }}</td>
            </tr>
            <tr>
                <th>Codeexamen</th>
                <td>{{ examen.codeexamen }}</td>
            </tr>
            <tr>
                <th>Maladies</th>
                <td>{{ examen.maladies }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_examens_index') }}">back to list</a>

    <a href="{{ path('app_examens_edit', {'id': examen.id}) }}">edit</a>

    {{ include('examens/_delete_form.html.twig') }}
{% endblock %}
